<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @jobapp.student_id %>
</p>

<p>
  <strong>Job:</strong>
  <%= @jobapp.job_id %>
</p>

<%= link_to 'Edit', edit_jobapp_path(@jobapp) %> |
<%= link_to 'Back', jobapps_path %>
