<div class="center jumbotron">
	<h1>Welcome to Awesome Interns!</h1>
	
	<h2>Find great internships and great interns</h2>
	
	<h3>Create student account!</h3> 
		<%=link_to "Sign up now!", new_student_path, class: "btn btn-lg btn-success" %>
	<h3>Create employer account!</h3>
		<%=link_to "Sign up now!", new_employer_path, class: "btn btn-lg btn-success" %>
	<h3>Already have an account?</h3> 
		<%=link_to "Log in as a student!", login_path, class: "btn btn-lg btn-info" %>
		<%=link_to "Log in as an employer!", emplogin_path, class: "btn btn-lg btn-info" %>		
		
</div>
<!--
<%= link_to image_tag("pitchit.png", alt: "Pitch it logo"),
            'http://pitchitjobs.com/' %> -->



