<%= form_for(@resume) do |f| %>
  <% if @resume.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

      <ul>
      <% @resume.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :college_name %><br>
    <%= f.text_field :college_name %>
  </div>
  <div class="field">
    <%= f.label :course_title %><br>
    <%= f.text_field :course_title %>
  </div>
  <div class="field">
    <%= f.label :current_year %><br>
    <%= f.select :current_year,["1st", "2nd", "3rd", "4th", "N/A"], prompt: "Pick one"%>
  </div>
  <div class="field">
    <%= f.label :average_grade %><br>
    <%= f.number_field :average_grade %>
  </div>
  <div class="field">
    <%= f.label :link_to_full_resume %><br>
    <%= f.text_field :link_to_full_resume %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
